
<div class="section-wrapper">
    <section class="section about" id="about">
        <div>
            <div class="section-heading" id="about-text">Welcome to Boat Corporation!</div>

            <div class="about-grid">
                    <p class="paragraph-text center-align">
                        This is originally Team 25's website for part 1 and now is Team 18's website for part 2.
                        This website contains links to the set of deliverables for both projects.
                        <h2>On this website you will find :</h2>
                        <h3><u>Team 25's part 1: </u></h3>
                        <h3>Requirements document</h3>
                        <h3>Architecture document</h3>
                        <h3>Method selection and planning document</h3>
                        <h3>Risk assessment and mitigation document</h3>
                        <h3>Implementation document</h3>
                        <a href="#documents">This can be found by clicking here or scrolling down to Team 25 Documents<a>
                        <br>
                        <h3><u>Team 18's part 2: </u></h3>
                        <h3>Each of the changed documents from team 25</h3>
                        <h3>Change report</h3>
                        <h3>Implementation</h3>
                        <h3>Software Testing Report</h3>
                        <h3>Continuous Integration Report</h3>
                        <a href="#documents18">This can be found by clicking here or scrolling down to Team 18 Documents<a></a>
                    </p>
            </div>
            </div>
        </div>
    </section>
</div>
