<div class="section-wrapper">
    <section class="section contact" id="contact">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Thank you for using Team 25's and Team 18's website
            </p>
            <p class="paragraph-text justify-text">
                If you have any questions feel free to contact us
                <h2 style="color:#FFFFFF">Team 25 Members:</h2>
                    <h3 style="color:#FFFFFF">Joel Beedle</h3>
                    <h3 style="color:#FFFFFF">Anuj Deshmukh</h3>
                    <h3 style="color:#FFFFFF">Charlotte Gayton</h3>
                    <h3 style="color:#FFFFFF">Will Johnson</h3>
                    <h3 style="color:#FFFFFF">Arslan Amjad</h3>
                    <h3 style="color:#FFFFFF">Josh</h3>
                <h2 style="color:#FFFFFF">Team 18 Members:</h2>
                    <h3 style="color:#FFFFFF">Morgan</h3>
                    <h3 style="color:#FFFFFF">Rob</h3>
                    <h3 style="color:#FFFFFF">George</h3>
                    <h3 style="color:#FFFFFF">Ziad</h3>
                    <h3 style="color:#FFFFFF" >Sam</h3>
                    <h3 style="color:#FFFFFF">Scott</h3>


            </p>
        </div>
    </section>
</div>
