<div class="section-wrapper">
    <section class="section documents" id="documents18">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Team 18 Documents for assessment 2</div>
            <h1>Changed Documents: </h1>
            <div class="projects-wrapper18">
                <!-- filled in by js -->
            </div>
            <div>
                <h1>Download Game files: </h1>
                <a href="assets/files/desktop-1.0.jar" download>Download Jar File</a>
                <br>
                <a href="assets/files/boatgame.zip" download>Download Game Source Code Files</a>
            </div>
            <div>
                <h1>Testing documents: </h1>
                <a href="https://eng1-group18.github.io/BoatGameWebsite/testReport"> Link to the unit testing summary</a>
                <br>
                <a href=https://docs.google.com/document/d/e/2PACX-1vQwvrM4Ch9ZE3pQsOfgq174ANEdhLILOGFwmmztTqrTX2YnVNQm5X1tG9qpB3gWzElMY_5A1gc11kZJ/pub> Link to manual testing evidence</a>
            </div>
        </div>
    </section>
</div>
